.button-container {
    text-align: center;
    margin-top: 20px;
}

.localfoto {
    padding-left: 20px;
    padding: 1em;
    width: 400px;
    height: 480px;
}

.titulo {
    margin: auto;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 18px;
}


.button:hover {
    background-color: #0056b3;
    border: 2px solid #0056b3;
    color: #fff;

}

.titulo {
    background-color: #d4d4d4;
    border: 2px solid #d1d1d1;
    width: auto;
    text-align: center;
}

.logovet {
    width: 300px;
    height: 150px;
}

body {
    background-color: #B3F4F7;
}